* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* title */
#title {
    text-align: center;
    padding: 1em;
    text-transform: capitalize;
}

/* main */
.main {
    display: grid;
    grid-template-columns: 4fr 1fr;
}

.left, .right {
    border: 1px solid green;
    padding: 1em;
}

/* left side */
.grid-game-board {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    border: 1px solid black;
    width: 300px;
    height: 300px;
    margin: 0 auto;
}

#congrate {
    text-align: center;
    font-size: larger;
    padding: 1rem;
}


/* right-side */


.shape {
    font-size: large;
    text-align: center;
    margin: 2em 0;
}
.shape p {
    padding: 0.5rem 0;
}

#x-shape, #o-shape {
    padding: 0.5rem;
}

#start-restart-btn {
    display: block;
    font-size: large;
    padding: 0.2em;
    margin: 0.5em auto;
    text-transform: capitalize;
    font-weight: bold;
}

/* left side */

